.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.border{
    border: 2px solid red;
}
.m-1{
    margin: 10px;
}
.p-1{
    padding: 10px;
}